<template>
  <div class="home">
    <carousel>
      <slide>
        Slide 1 Content
      </slide>
      <slide>
        Slide 2 Content
      </slide>
      <slide>
        Slide 3 Content
      </slide>
      <slide>
        Slide 4 Content
      </slide>
      <slide>
        Slide 5 Content
      </slide>
      <slide>
        Slide 6 Content
      </slide>
      <slide>
        Slide 7 Content
      </slide>
      <slide>
        Slide 8 Content
      </slide>
      <slide>
        Slide 9 Content
      </slide>
      <slide>
        Slide 10 Content
      </slide>
    </carousel>
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
