<script>
import { required, email } from 'vuelidate/lib/validators'

export default {
  data () {
    return {
      loading: false,
      email: '',
      password: ''
    }
  },
  validations: {
    email: { required, email },
    password: { required }
  },
  methods: {
    actionModal (modal, action) {
      if (action === 'show') {
        this.$refs[modal + '-modal'].show()
      }
      if (action === 'hide') {
        this.$refs['-modal'].hide()
      }
    },
    switchModal (actualModal, nextModal) {
      this.$refs[actualModal + '-modal'].hide()
      this.$refs[nextModal + '-modal'].show()
    },
    tryToLogIn () {
      return null
    }
  }
}
</script>

<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
    <div>
      <b-button id="login-btn" @click="actionModal('login','show')">Connexion</b-button>

      <b-modal ref="login-modal" hide-footer title="Connexion">
        <b-button id="switch-register-modal-btn" @click="switchModal('login','register')">Inscription</b-button>
        <b-form class="p-2" @submit.prevent="tryToLogIn">
          <b-form-group id="input-group-1" label="Email" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="email"
              type="text"
              placeholder="Entrer votre email"
              :class="{ 'is-invalid': submitted && $v.email.$error }"
            ></b-form-input>
            <div v-if="submitted && $v.email.$error" class="invalid-feedback">
              <span v-if="!$v.email.required">Votre email est requis.</span>
              <span v-if="!$v.email.email">Email invalide</span>
            </div>
          </b-form-group>

          <b-form-group id="input-group-2" label="Mot de passe" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="password"
              type="password"
              placeholder="Entrer votre mot de passe"
              :class="{ 'is-invalid': submitted && $v.password.$error }"
            ></b-form-input>
            <div
              v-if="submitted && !$v.password.required"
              class="invalid-feedback"
            >Un mot de passe est requis.</div>
          </b-form-group>
          <div class="mt-3">
            <b-button type="submit" variant="primary" class="btn-block">Connexion</b-button>
          </div>
          <div class="mt-4 text-center">
            <router-link tag="a" to="/forgot-password" class="text-muted">
              <i class="mdi mdi-lock mr-1"></i> Mot de passe oublié ?
            </router-link>
          </div>
        </b-form>
        <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>
      </b-modal>
      <b-modal ref="register-modal" hide-footer title="Inscription">
        <b-button id="switch-login-modal-btn" @click="switchModal('register','login')">Connexion</b-button>
        <b-form class="p-2" @submit.prevent="tryToLogIn">
          <b-form-group id="input-group-1" label="Email" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="email"
              type="text"
              placeholder="Entrer votre email"
              :class="{ 'is-invalid': submitted && $v.email.$error }"
            ></b-form-input>
            <div v-if="submitted && $v.email.$error" class="invalid-feedback">
              <span v-if="!$v.email.required">Votre email est requis.</span>
              <span v-if="!$v.email.email">Email invalide</span>
            </div>
          </b-form-group>

          <b-form-group id="input-group-2" label="Mot de passe" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="password"
              type="password"
              placeholder="Entrer votre mot de passe"
              :class="{ 'is-invalid': submitted && $v.password.$error }"
            ></b-form-input>
            <div
              v-if="submitted && !$v.password.required"
              class="invalid-feedback"
            >Un mot de passe est requis.</div>
          </b-form-group>
          <div class="mt-3">
            <b-button type="submit" variant="primary" class="btn-block">Connexion</b-button>
          </div>
          <div class="mt-4 text-center">
            <router-link tag="a" to="/forgot-password" class="text-muted">
              <i class="mdi mdi-lock mr-1"></i> Mot de passe oublié ?
            </router-link>
          </div>
        </b-form>
        <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>
      </b-modal>

    </div>
  </div>
</template>
